.container {
  width: 1024px;
  margin: auto;
}

.header {
	height: 90vh;
	position: relative;
	top: 5vw;
}

.content {
	margin-top: 2vh;
	padding: 1vw;
	background-color: lightgray;
	position: relative;
}

.footer {
	padding: 1vw;
	height: 50vh;
	background-color: gray;
	position: relative;
}

.nav {
	margin: 0;
	padding: 0;
	height: 10vh;
	position: fixed;
	z-index: 5;
	background-color: white;
	width: 995px;
}