.container {
  width: 1024px;
  margin: auto;
  background-color: #F5ECCE;
  border-left: 2px solid #332002;
  border-right: 2px solid #332002;
}

.header {
	height: 80vh;
	position: relative;
	top: 9vh;
}

.content {
	margin-top: 5vh;
	padding: 1vw;
	background-color: #A9926F;
	border: 1px solid white;
	position: relative;
}

.footer {
	padding: 2vh;
	height: 30vh;
	background-color: #5C3802;
	border: 1px solid white;
	position: relative;
}

.mynav {
	margin: 0 auto;
	padding: 0;
	height: 10vh;
	position: fixed;
	z-index: 5;
	background-color: #F5ECCE;
	width: 80vw;
	max-width: 1000px;
}